.git
.github
.idea
node_modules
vendor
public/build
public/hot
public/fonts-manifest.dev.json
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
.env
.env.*
docker.env
database/*.sqlite
tests
.phpunit.cache
.phpunit.result.cache
phpstan.neon
phpunit.xml
pint.json
